{
  "presets": [
    ["latest", {
      "es2015": { "modules": false }
    }],
    "stage-1",
    "react"
  ],
  "plugins": [
    ["import", { "libraryName": "antd", "style": "css" }] // `style: true` for less
  ]
}
